// primary color
// secondary color
// danger/error
// success
// warning
// dark/drak gray text
// font size
$color--error:#ED6464;
$color--success:#7CB490;
$color--warning:#F27435;
$color--dark:#343434;
$medium--gray:#757575;
$light--gray:#dadada;

// branding colors should go here
